.idea/
.vscode/
.DS_Store

*.exe
*.exe~
*.dll
*.so
*.dylib

bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
*.html

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
